<!-- <app-nav></app-nav> -->

<div class="row">

  <div class="col">

    <div class="jumbotron">

      <h3 class="display-5">
        {{club.name}} Toastmasters Club
      </h3>

      <ul class="lead" *ngIf="club.blurbs.length">
        <li *ngFor="let blurb of club.blurbs">
          {{blurb}}
        </li>
      </ul>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-sm" *ngIf="nextMeeting()">
    <h5>
      Our next meeting is <b>{{nextMeeting()}}</b>. Stop by!
    </h5>
    <a href="https://{{club.fthSubdomain}}.toastmastersclubs.org/calendar.html" target="_blank">all meetings</a>
  </div>

  <div class="col-sm">

    <a href="{{club.mapUrl}}" target="-\_blank>">
      <figure>
        <figcaption>
          <h5>We are at {{club.address}}</h5>
        </figcaption>
        <img src="../assets/img/map/640.png" class="img-fluid" alt="map image"/>
      </figure>
    </a>

  </div>

</div>

<router-outlet></router-outlet>
