
$font-family-sans-serif:  Gotham, "Myriad Pro", Arial, sans-serif;
$font-family-base: $font-family-sans-serif !default;

$blue: #004165;
$yellow: #F2DF74;
$burgundy: #772432;
$lightblue: #A9B2B1;

$secondary: $yellow;

$theme-colors: (
  "burgundy": $burgundy
);
